@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i");
body {
  background-color: #e0e0e0;
  font: 14px Arial;
  padding: 15px;
}

select, input {
  font: 14px Arial;
}

h3 {
  font-size: 16px;
  margin: 15px 0 4px 0;
  padding: 0;
}

.first-h3 {
  margin-top: 0;
}

fieldset {
  float: left;
  padding: 15px;
  margin: 0;
  background-color: white;
  border: 1px solid #bbb;
}

legend {
  background-color: white;
  padding: 3px 8px;
  border: 1px solid #bbb;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #e0e0e0;
}

.bubble-label {
  text-align: center;
  font-family: Roboto, Arial;
  font-weight: 400;
  line-height: 1.2;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bubble-value {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  clear: left;
  float: left;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  background-color: white;
  border: 1px solid #bbb;
}

text {
  fill: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-overflow: ellipsis;
}

.label {
  fill: #000;
}

.chart {
  margin: 0 auto;
  max-width: 675px;
  max-height: 675px;
}

.chart-svg {
  width: 100%;
  height: 100%;
}

.node {
  cursor: default;
}

.node:nth-child(1) .graph {
  -webkit-animation-delay: 0.033s;
          animation-delay: 0.033s;
}

.node:nth-child(2) .graph {
  -webkit-animation-delay: 0.066s;
          animation-delay: 0.066s;
}

.node:nth-child(3) .graph {
  -webkit-animation-delay: 0.099s;
          animation-delay: 0.099s;
}

.node:nth-child(4) .graph {
  -webkit-animation-delay: 0.132s;
          animation-delay: 0.132s;
}

.node:nth-child(5) .graph {
  -webkit-animation-delay: 0.165s;
          animation-delay: 0.165s;
}

.node:nth-child(6) .graph {
  -webkit-animation-delay: 0.198s;
          animation-delay: 0.198s;
}

.node:nth-child(7) .graph {
  -webkit-animation-delay: 0.231s;
          animation-delay: 0.231s;
}

.node:nth-child(8) .graph {
  -webkit-animation-delay: 0.264s;
          animation-delay: 0.264s;
}

.node:nth-child(9) .graph {
  -webkit-animation-delay: 0.297s;
          animation-delay: 0.297s;
}

.node:nth-child(10) .graph {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.node:nth-child(11) .graph {
  -webkit-animation-delay: 0.363s;
          animation-delay: 0.363s;
}

.node:nth-child(12) .graph {
  -webkit-animation-delay: 0.396s;
          animation-delay: 0.396s;
}

.node:nth-child(13) .graph {
  -webkit-animation-delay: 0.429s;
          animation-delay: 0.429s;
}

.node:nth-child(14) .graph {
  -webkit-animation-delay: 0.462s;
          animation-delay: 0.462s;
}

.node:nth-child(15) .graph {
  -webkit-animation-delay: 0.495s;
          animation-delay: 0.495s;
}

.node:nth-child(16) .graph {
  -webkit-animation-delay: 0.528s;
          animation-delay: 0.528s;
}

.node:nth-child(17) .graph {
  -webkit-animation-delay: 0.561s;
          animation-delay: 0.561s;
}

.node:nth-child(18) .graph {
  -webkit-animation-delay: 0.594s;
          animation-delay: 0.594s;
}

.node:nth-child(19) .graph {
  -webkit-animation-delay: 0.627s;
          animation-delay: 0.627s;
}

.node:nth-child(20) .graph {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.node:nth-child(21) .graph {
  -webkit-animation-delay: 0.693s;
          animation-delay: 0.693s;
}

.node:nth-child(22) .graph {
  -webkit-animation-delay: 0.726s;
          animation-delay: 0.726s;
}

.node:nth-child(23) .graph {
  -webkit-animation-delay: 0.759s;
          animation-delay: 0.759s;
}

.node:nth-child(24) .graph {
  -webkit-animation-delay: 0.792s;
          animation-delay: 0.792s;
}

.node:nth-child(25) .graph {
  -webkit-animation-delay: 0.825s;
          animation-delay: 0.825s;
}

.node:nth-child(26) .graph {
  -webkit-animation-delay: 0.858s;
          animation-delay: 0.858s;
}

.node:nth-child(27) .graph {
  -webkit-animation-delay: 0.891s;
          animation-delay: 0.891s;
}

.node:nth-child(28) .graph {
  -webkit-animation-delay: 0.924s;
          animation-delay: 0.924s;
}

.node:nth-child(29) .graph {
  -webkit-animation-delay: 0.957s;
          animation-delay: 0.957s;
}

.node:nth-child(30) .graph {
  -webkit-animation-delay: 0.99s;
          animation-delay: 0.99s;
}

.node circle {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.node:hover circle {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.graph {
  opacity: 0;
  -webkit-animation-name: animateIn;
          animation-name: animateIn;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0.85, 0.41, 1.21);
          animation-timing-function: cubic-bezier(0.7, 0.85, 0.41, 1.21);
}

@-webkit-keyframes animateIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5) rotate(-8deg);
            transform: scale(0.5) rotate(-8deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5) rotate(-8deg);
            transform: scale(0.5) rotate(-8deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

.d3-tip-outer {
  position: relative;
}

.d3-tip {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1;
  padding: 16px 20px;
  /* background: rgba(0, 0, 0, 0.8);*/
  color: #fff;
  border-radius: 6px;
}

.d3-stem {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -45px;
  left: 55%;
  border-style: solid;
  border-width: 48px 15px 0 0;
  -webkit-transform: rotate(17deg);
          transform: rotate(17deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  z-index: 2;
}

/* Creates a small triangle extender for the tooltip 
// .d3-tip:after {
//   box-sizing: border-box;
//   display: inline;
//   font-size: 10px;
//   width: 100%;
//   line-height: 1;
//   color: rgba(0, 0, 0, 0.8);
//   content: "\25BC";
//   position: absolute;
//   text-align: center;
// }

// /* Style northward tooltips differently 
// .d3-tip.n:after {
//   margin: -1px 0 0 0;
//   top: 100%;
//   left: 0;
// }*/
/*# sourceMappingURL=style.css.map */